<!-- <div id="preloader">
    <div class="book">
        <div class="book__page"></div>
        <div class="book__page"></div>
        <div class="book__page"></div>
    </div>
</div> -->

<!-- 
	    Header start
	    ==================== -->
<div class="navbar-default navbar-fixed-top" id="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right" id="top-nav">
                <li class="current"><a href="#body">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h1 class="wow fadeInDown">Soundarya & Friends</h1>
                    <h1 class="wow fadeInDown">A No. 1 Steganography company</h1>
                    <div class="wow fadeInDown" data-wow-delay="0.3s">
                        <a class="btn btn-default btn-home" [routerLink]="['encrypt']" role="button">Get
                            Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="block">
                    <div class="counter text-center">
                        <ul id="countdown_dashboard">
                            <li>
                                <div class="dash days_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <span class="dash_title">Days</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash hours_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <span class="dash_title">Hours</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash minutes_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <span class="dash_title">Minutes</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash seconds_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <span class="dash_title">Seconds</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->



<!-- 
        About start
        ==================== -->
<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 wow fadeInLeft">
                <div class="sub-heading">
                    <h3>We are No.1 Steganography company. We deal with encryption & decryption of secret data transfer.
                    </h3>
                </div>
                <div class="block">
                    <p>We started our journey in 2017 and we have gained the customer confidence and satisfaction.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="about-slider">
                    <div class="init-slider">
                        <div class="about-item">
                            <img src="assets/images/about/1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="about-item">
                            <img src="assets/images/about/2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="about-item">
                            <img src="assets/images/about/3.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #about close -->
<!-- 
        About start
        ==================== -->

<!-- 
        Service start
        ==================== -->
<section id="service" class="section">
    <div class="container">
        <div class="row">
            <div class="heading wow fadeInUp">
                <h2>Our Services</h2>
                <p>Encrytption & Decryption of important data with security</p>
                <p>We encrytpt & decrypt of important data in Text, Image, Voice format</p>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-android-desktop"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Fully Responsive</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-speedometer"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Speed Optimized</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-ios-infinite-outline"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Tons of Feature</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                <div class="service">
                    <div class="icon-box">
                        <span class="icon">
                            <i class="ion-ios-cloud-outline"></i>
                        </span>
                    </div>
                    <div class="caption">
                        <h3>Cloud Option</h3>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container close -->
</section><!-- #service close -->

<section id="call-to-action" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #call-to-action close -->

<!-- 
        Contact start
        ==================== -->
<section id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="block">
                    <div class="heading wow fadeInUp">
                        <h2>Get In Touch</h2>
                        <p>Soundaya & Friends Co.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 wow fadeInUp">
                <div class="block text-left">
                    <div class="sub-heading">
                        <h4>Contact Address</h4>
                        <p>SBI Road, Sagara, Shimoga Dist.</p>
                    </div>
                    <address class="address">
                        <p><strong>Email:</strong>&nbsp;soundaryaandfriends.com<br>
                            <strong>P:</strong>&nbsp;+91 1234567890
                        </p>


                    </address>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInUp" data-wow-delay="0.3s">
                <div class="form-group">
                    <form action="#" method="post" id="contact-form">
                        <div class="input-field">
                            <input type="text" class="form-control" placeholder="Your Name" name="name">
                        </div>
                        <div class="input-field">
                            <input type="email" class="form-control" placeholder="Email Address" name="email">
                        </div>
                        <div class="input-field">
                            <textarea class="form-control" placeholder="Your Message" rows="3"
                                name="message"></textarea>
                        </div>
                        <button class="btn btn-send" type="submit">Click here to call You back for further
                            discussion.</button>
                    </form>

                    <div id="success">
                        <p>Your Message was sent successfully</p>
                    </div>
                    <div id="error">
                        <p>Your Message was not sent successfully</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section clas="wow fadeInUp">
    <div class="map-wrapper">
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Copyright &copy; <a href="http://www.Themefisher.com">Themefisher</a>| All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>